.input-msg{
    width: 100px;
}
.photo-profile{
    width: 33px;
    height: 33px;
    border-radius: 300px;
}
.msg-div{
    .user-msg{
        font-size: 14px;
    }
}
#idea-img{
    width: 220px;
    height: 200px;
}
.current-user{
    background-color: rgb(196, 237, 255);
    border: 1px solid  rgb(196, 237, 255);
    border-radius: 20px;
    padding: 7px;
    font-size: 12px;
    margin-top: 3px;
}
.text-msg{
    border: 1px solid rgb(227, 255, 231);
    border-radius: 20px;
    padding: 7px;
    font-size: 12px;
    margin-top: 3px;
    background-color: rgb(227, 255, 231);
}